В этом задании вам необходимо использовать набор данных ad.csv.
    1) Датасет содежит 2 столбца: объявление (A/B) и действие (0/1).
    2) Вам необходимо сформулировать гипотезу, провести ее проверку 
    (пользуясь классическим подходом) и ответить на вопрос какое из объявлений лучше.

In [10]:
import pandas as pd

df = pd.read_csv("c:\_Files\\ad.csv")
df

     ad_id  action
0        B       1
1        B       1
2        A       0
3        B       0
4        A       1
...    ...     ...
1995     A       0
1996     A       0
1997     A       0
1998     A       1
1999     A       0

[2000 rows x 2 columns]

In [17]:
pd.crosstab(df['action'], df['ad_id'], df['action'], aggfunc = 'count')

ad_id     A    B
action
0       696  628
1       304  372

In [21]:
table = pd.crosstab(df['action'], df['ad_id'], df['action'], aggfunc = 'count')

from scipy.stats import fisher_exact
stat, p = fisher_exact(table, alternative = 'greater')
print(f"Статистика: {stat}")

Статистика: 1.3561850486087832

Гипотеза о равенстве частот отвергаетчя в пользу гипотезы о том, что объявление B выбирается чаще объявления A.

In [22]:
print(f'p-value: {p}')

p-value: 0.000764995598660545

In [23]:
if p < 0.01:
    print('Гипотеза о том, что объявления A и B выбираются с равной вероятностью отвергается')
else:
    print('Гипотеза о том, что объявления A и B выбираются с равной вероятностью не отвергается')

Гипотеза о том, что объявления A и B выбираются с равной вероятностью отвергается

In [24]:
pd.crosstab(df['ad_id'], df['action'])

action    0    1
ad_id
A       696  304
B       628  372

In [25]:
pd.crosstab(df['ad_id'], df['action'], normalize = True)

action      0      1
ad_id
A       0.348  0.152
B       0.314  0.186

In [32]:
N1 = 1000
N2 = 1000
p1 = 304 / N1
p2 = 372 / N2

print(f'Разница между наблюдениями: {372 - 304}')
print(f'Разница между пропорциями для 1000 примеров: {0.186 - 0.152}')
print(f'Пропорции для 2-х групп: {p1, p2}')

Разница между наблюдениями: 68
Разница между пропорциями для 1000 примеров: 0.034
Пропорции для 2-х групп: (0.304, 0.372)

H0: p2 = p1, или p2 - p1 = 0
H1: p2 > p1

In [33]:
p2 - p1

0.068

Проверяем, разница в пропорциях существенно значима, или нет. Формулируем гипотезу. H0: вариант B лучше, чем вариант A. 
Находим разницу между средними и проверяем, пользуясь классическим подходом, какая из групп: A или B лучше.

H0: p2 > p1, или что то же самое p2 - p1 > 0

In [34]:
p2 - p1

0.068

In [38]:
import numpy as np
import scipy.stats as stats

p_hat = (304 + 372) / (N1 + N2)
p_hat

0.338

In [41]:
var = p_hat * (1 - p_hat) * (1 / N1 + 1 / N2)
se = np.sqrt(var)
se

0.02115447943108031

T-test, Т-Стьюдента. Вычисляем значение T-статистики. Какова вероятность в рамках нашего распеделения увидеть такое значение статистики или более экстремальное значение

In [43]:
t_score = (p2 - p1) / se
t_score

3.2144492244084213

In [48]:
stats.norm.cdf(-2)

0.022750131948179195

In [49]:
stats.norm.cdf(1.8)

0.9640696808870742

In [53]:
stats.norm.cdf(t_score)

0.9993465248633937

In [54]:
stats.t.cdf(1,8)

0.8267032464563329

In [58]:
stats.t.cdf(t_score, df = N1 + N2 - 2)

0.9993361021619558

Отклоняем гипотезу: p2 > p1

In [63]:
p_value = 1 - stats.t.cdf(t_score, df = N1 + N2 - 2)
p_value

0.000663897838044214